<link rel="stylesheet" type='text/css' href="style.css">
<link href="https://fonts.googleapis.com/css?family=Abel|Quicksand" rel="stylesheet"> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<title>home - vince</title>
<body onload="startTime()">
<div class="wrapper">
	<div class="body">
		This page is from <a href="http://vincebel.tech">http://vincebel.tech/</a> and is modified to meet requirements for Secure App Development Lab 4.<br>
		Clock as required for SecAD:<br>
		<script>
			function startTime() {
				document.getElementById('clock').innerHTML = new Date();
				setTimeout(startTime,500);
			}
		</script>
		Current time: <div id="clock"></div>
		<h1>Vince Belanger</h1>
		<div class="wrapper">
			<div class="intro_left">
				<br><img src="selfpic.jpg" width=165px class="selfpic">
				
			</div>
			<div class="intro_right">
			<span id="position">University of Dayton - Computer Science, Class of 2019<br>Network Support Technician<br>Metro Detroit area</span><br><br>
			Hello, my name is Vince. I'm a senior in college studying computer science, set to graduate in May 2019. I am pursuing a career in computer networking, and am currently working toward my CCENT and CCNA certifications.
			<br>This site serves as a repository for some of my projects and fields of interest.
			<br><br>
			<span id="professional_links">
				<span class="professional_links_element"><a href="https://www.linkedin.com/in/vince-belanger-9740b3126/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></span>
				<span class="professional_links_element"><a href="https://bitbucket.org/vincebelanger/" target="_blank"><i class="fab fa-bitbucket"></i> Bitbucket</a></span>
			</span>
			</div>
		</div>
		<br>
		<div class="link_category">
			<h3>Tech</h3>
			<a href="/portfolio/contactform/contact.php" target="_blank">Contact form</a> - A simple web contact form
			<br><br>
			<a href="http://www.press-marketplace.com/" target="_blank">Press-Marketplace</a> - A freelance job by me (back end) and my colleague (front end) 
			<br><br>
			<a href="/z/colorcombos.php" target-"_blank">Color Combos</a> - A simple color combination chart for design reference
		</div>
		
		<h3>About me</h3>
		Interests:<br>
		<ul>
		<li>Networking and network security(home and enterprise)</li>
		<li>Linux systems</li>
		<li>Scripting</li>
		</ul>
		Projects:<br>
		<ul>
		<li>Home lab (diagram + documentation coming soon)</li>
		<li>Home server (running this site)</li>
		</ul>
		Experience:<br>
		<ul>
		<li>Network Support Technician</li>
		<li>Operations Intern</li>
		<li>Technical Support Representative (IT helpdesk)</li>
		<li>Online banking helpdesk</li>
		</ul>
		Skills:<br>
		<ul>
		<li>CentOS / RHEL</li>
		<li>Shell scripting / Python scripting</li>
		<li>Apache</li>
		<li>firewalld / iptables</li>
		<li>SQL / MySQL</li>
		<li>Cisco IOS</li>
		<li>Troubleshooting</li>
		<li>Communication + collaboration</li>
		</ul>
		Relevant courses taken:<br>
		<ul>
		<li>Computer & Network Security</li>
		<li>Computer Networks</li>
		<li>Cybersecurity Fundamentals</li>
		<li>Software Security / Language-Based Security</li>
		<li>Operating Systems</li>
		<li>Secure App Development</li>
		<li>Computer Organization & Architecture</li>
		</ul>
		<br><br>
		<script>
			var shown = false;
			function showhide(){
				if(shown){
					document.getElementById('email').innerHTML = "show my email";
					shown = false;
				}
				else {
					var myemail="<a href='mailto:vince"+"@"+"vincebel.tech'>vince" + "@" + "vincebel.tech</a>";
					document.getElementById('email').innerHTML=myemail;
					shown=true;
				}
			}
		</script>
		<h3>Contact: <div id="email" onclick="showhide()">show my email</h3>
	</div>
</div>
</body>
