html, body{
	background-image: url(bg1.jpg);
	//background-color: #00001a;
	color: #0d0d0d;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
	background-size: cover;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	font-size:36px;
	//color: #003300;
}

h3 {
	margin-top: 0px;
}

a, a:visited {
	color: #009933;
	text-decoration: none;
}

a:hover, a:active {
	color: #003300;
}

.selfpic {
	border-radius: 50%;
	border: 2px solid black;
}
.intro_left {
	width: 25%;
	float: left;
	text-align: left;
}
.intro_right {
	width: 73%;
	overflow: hidden;
	text-align: left;
	margin-top:-5px;
    min-height: 200px;
}
#position {
	font-style: italic;
	font-size: 18px;
}
#professional_links {
	font-size:14px;
}
.professional_links_element {
	padding-right: 20px;
}
.wrapper {
	padding:10px;
	//overflow: hidden;
}
.body {
	width: 900px;
	text-align:left;
	margin:auto;
	padding:5px 60px 100px 60px;
	background-color:#f2f2f2;
	border-radius: 40px;
    font-family: 'Abel', sans-serif;
	border: 2px solid black;

}
.link_category {
	padding-bottom: 20px;
}
